In [0]:
import pandas as pd
from pandas import DataFrame as df
df1 = pd.read_csv('data/hindencorp05.csv', sep='\t', error_bad_lines=False, header=None)

In [0]:
len(df1)

273885

In [0]:
df1.head()

                      0  ...                                                  4
0  wikiner2013inflected  ...                                              शराबी
1                   ted  ...  राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह कर...
2                   ted  ...  मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहू...
3             indic2012  ...   यह प्रतिशत भारत में हिन्दुओं प्रतिशत से अधिक है।
4            quote-name  ...                                      - जॉन कॉलिन्स

[5 rows x 5 columns]

In [0]:
df1.drop(df1.columns[[0,1,2]], axis=1).to_csv("data/eng-hin.txt", line_terminator='\n', sep='\t', header=None, index=False, encoding='utf-8')

In [0]:
import pandas as pd
from pandas import DataFrame as df
df1 = pd.read_csv('data/eng-hin.txt', sep='\t', error_bad_lines=False, header=None)

In [0]:
df1.head()

                                                   0                                                  1
0                                           Sharaabi                                              शराबी
1  politicians do not have permission to do what ...  राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह कर...
2         I'd like to tell you about one such child,  मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहू...
3  This percentage is even greater than the perce...   यह प्रतिशत भारत में हिन्दुओं प्रतिशत से अधिक है।
4                                     - John Collins                                      - जॉन कॉलिन्स